<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>51933936-E8AA-496C-A91E-05447A395C69</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.AppleTV-1080p</string>
	<key>name</key>
	<string>IBAppleTVSimDeviceType1080p</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.tvOS-9-0</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
