<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>18DA6370-AB52-4D96-B260-FF78C09BD556</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-1x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad1x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
